{# empty Twig template #}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../View/css/estiloPrincipal.css"/>
        <title></title>
    {% endblock %}    
</head>
<body>
    {% block header %}
        <header class="container">
            <h1>Intersubjetividad digital</h1>
            <h2>
                En este blog, el poder objetivista de la mirada sartreriana no duele.
            </h2>
        </header>
    {% endblock %}
    {% block contenido %}
        <p>No existen contenidos publicados en este blog</p>        
    {% endblock %}
</body>
</html>
    